<h2>Events Index Page</h2>

<% if flash[:notice] %>
  <p class="notice">
    <% flash[:notice].split("\n").each do |line| %>
      <%= line %><br> <!-- Renders each email on a new line -->
        <% end %>
  </p>
  <% end %>

    <% if flash[:error] %>
      <p class="error">
        <%= flash[:error] %>
      </p>
      <% end %>

        <%= button_to "Create Event A" , { controller: 'events' , action: 'handle_event' , event_name: 'Event A' },
          method: :post %>
          <%= button_to "Create Event B" , { controller: 'events' , action: 'handle_event' , event_name: 'Event B' },
            method: :post %>
            <%= button_to "Create Event C" , send_email_path, method: :post %>